.footer {
    text-align: center;
    padding: 20px;
    background-color: #2B7A78;
    color: white;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons .icon {
    font-size: 2rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon.instagram:hover {
    color: #E4405F;
    transform: scale(1.2);
  }
  
  .icon.github:hover {
    color: #333;
    transform: scale(1.2);
  }
  
  .icon.linkedin:hover {
    color: #0077B5;
    transform: scale(1.2);
  }
  
  .icon.facebook:hover {
    color: #1877F2;
    transform: scale(1.2);
  }
  .tag{
    color: darkorange;
  }